@inherits LayoutComponentBase

<div class="page">
    <NavMenu />

    <main class="main-content">

        <NavTop />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>